@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,500&display=swap');


body {
    padding: 0;
    margin: 0;
}

nav {
    background: #303030;
    width: 1525px;
    height: 140px;
    display: grid;
    grid-auto-flow: column;
}

#logoDNC {
    margin-right: 0px;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

main {
    display: grid;
    grid-auto-flow: column;
}

.card {
    width: 50vw;
}

h2 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #265E70;
    justify-content: center;
    text-align: center;
}

b {
    color: rgba(77, 188, 233, 1);
}

.box {
    width: 550px;
    height: 600px;

    background: rgba(77, 188, 233, 0.75);
    border-radius: 15px;

    /* Parei aqui, estou tentando deixar esse box com os botões/setas alinhados*/
    display: grid;
    grid-auto-flow: column;

}

.conteudoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scooter {
    margin-bottom: -50px;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

h4 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    color: #FFFFFF;
}

.valor {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #265E70;

    margin-top: -25px;
    width: 211px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: -20px;
}

#saibaMais {
    width: 250px;
    height: 75px;
    left: 935px;
    top: 849px;

    margin-top: 50px;
    

    background: #4DBCE9;
    border-radius: 15px;
    border-style: none;

    font-family: 'Inter'; /* não esquecer de pegar fonte no google fontes*/
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 47px;
    color: #FFFFFF;
}